.header {
  grid-area: 1 / 1 / 2 / 9;
  display: flex;
  max-width: 1015px;
  gap: 20px;
  align-items: center;
  height: 82px;
  padding: 20px 50px;
}

.search__block {
  display: flex;
  max-width: 604px;
}

.basket {
  margin-left: 20px;
  cursor: pointer;
}

.user{
  margin-left: 20px;
  border-radius: 50%;
  cursor: pointer;
}