$text: #2D2D2F;
$blue: #2967FF;
$green: #58CF18;
$rose: #FF2D87;
$orange: #FFA601;
$primary-grey: #727280;
$secondary-grey: #8D8D8E;
$secondary-light-grey: #F8F8F8;

$montserrat: 'Montserrat', sans-serif;
